/* font styles */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  /* full bg */

  .full-bg {
    background-color: rgba(241, 241, 243, 1);
  }

/* shared style */
body {
    margin: 0;
}
.btn-primary {
     
    font-weight: bold;
    font-size: 20px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    background-color: rgba(245, 245, 245, 1);

}
.btn-primary-2 {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 34px;
    border:none;
    border-radius: 8px;
}

.secondary-bg{
    background-color: #3c916959;
 
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
  
}

.nav-title {
    margin-left: 165px;
    font-weight: bold;
    font-size: 32px;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    padding: 0 160px 0 160px;


}

nav li a {
    text-decoration: none;
    font-size: 20px;

}

/* banner style */
 .banner {
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;
 }
 .banner-content {
    max-width: 622px;
    padding: 103px 53px;
 }
 .banner-greetings {
    color: rgba(14, 14, 14, 0.51);
    font-size: 24px;
    font-weight: 600;

}
.banner-title{
    font-weight:bold ;
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.banner-profile-pic {
    width: 480px;
    padding: 68px 48px 68px 60px; 
}
/* section title */

.section-title{
    font-size: 40px;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
    margin-bottom: 32px;
}
 
/* skills section style */
.skills{
    margin: 20px 160px 80px 160px;
}
.skills-container {
    display: flex;
     justify-content: space-around;
     gap: 24px;
}

.skill {
    padding: 40px;
    border-radius: 16px;
}
.skill-color-1 {
    background-color: #81b4fc54;
    width: 400;
}
.skill-color-2 {
    background-color: rgba(198, 228, 214, 1);
}

.skill-color-3 {
    background-color: rgba(247, 235, 207, 1);
}

/* btn styles */
.btn-1 {
    margin-top: 24px;
    margin-bottom: 28px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: rgba(84, 143, 245, 0.856);
}

.btn-2 {
    margin-top: 24px;
    margin-bottom: 28px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: rgba(9, 161, 93, 0.822);
}

.btn-3 {
    margin-top: 24px;
    margin-bottom: 28px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: rgba(255, 196, 57, 0.822);
}

/* prim minister style */
.back-img{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 1.5% 13%;

}
.prim-minister {
    margin: 20px 160px 80px 160px;
    background-color: #FFFFFF;
    border: 1px solid #33333341;
    border-radius: 16px;
}
.minister {
    padding: 48px 24px;
}
.minister-speech {
    font-size: 16px;
    font-weight: 400;
    
}

.dr-yunus {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
}
.minister-title {
    font-size: 16px;
}
/* opinion Matters style */

.bg-color{
    background-color: #C6E4D6;
     
}
.opinion-matters-section {
    width: 80%;
    margin: 24px auto;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
     

}
.column-head {
      margin-bottom: 20px;
}
.opinion-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
     
}
 .table-td{
    padding: 24px;
 }
.opinion-table th, .opinion-table td {
    text-align: left;
    font-size: 16px;
    padding: 24px;
    border: 1px solid #ddd;
}
 
.btn-column{
    margin: 24px;
    text-align: center;
}
.column-btn {
    padding: 10px 14px;
    background-color: #C6E4D6;
}
/* recent news style */
.newses {
    margin: 20px 160px 80px 160px;
}
.recent-title{
    font-size: 40px;
    font-weight: bold;
}
.recent-description {
    font-size: 16px;
    font-weight: 400;

}
.date {
    font-size: 16;
    font-weight: 400;
}
.bd-news{
    background-color: #FFFFFF;
    padding: 30px 20px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}
.state-img {
    border-radius: 24px;
    margin: 15px;
}
.recent-news{
    margin: 0 10px;
}
.news-title {
    font-size: 32px;
    font-weight: bold;

}
.news-description {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}

/* today-section-style */
.donate-section{
    margin: 80px 160px;
    text-align: center;
    padding: 10px;
     
}
.donate-title{
    font-size:40px;
    font-weight: bold;
    counter-reset:#0E0E0E ;
}
.donate-discription{
    font-size: 16px;
    font-weight: 400;
    padding-left: 90px;
    padding-right: 90px;
    color:rgba(14, 14, 14, 0.7);
}
.dollar{
    display: flex;
     align-items: center;
     margin-left: 300px;
}
.money{
    font-size: 40px;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
    padding: 40px;
    border-radius: 16px;
    background-color: #ffffff;
    margin: 10px;
    border: 1px solid #D5D6D8;
}
.money-1{
    background-color: #FFFFFF;
}
.money-2{
    background-color: #09a15d6c;
}
.money-3{
    background-color:#FFFFFF;
}
.money-4{
    background-color: #FFFFFF;
}
.ammount{
    width: 90%;
    background-color: #ffffff;
    text-align: center;
    margin-left: 50px;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    margin-bottom: 30px;
}
.money-btn{
    background-color: #006A50 ;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 14px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    padding: 17px 34px;
     
}
/* newsletter section style */
.newsletter-title {
    background-color: #d8f3dc;
    padding: 80px 265px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: ;
    justify-content: center;
    margin-left: 450px;
    margin-bottom: 50px;
     
}

.newsletter-title h2 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.newsletter-title p {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    margin-bottom: 20px;
}

.newsletter-title form {
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.newsletter-title input[type="email"] {
    padding: 10px;
    width: 70%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
}

.newsletter-title button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007b55;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter-title button:hover {
    background-color: #005f40;
}
/* footer style */
.main-footer {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;


}

.footer-icon {
    gap: 50;
}