/* font styles */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  /* full bg */

  .full-bg {
    background-color: rgba(241, 241, 243, 1);
  }

/* shared style */

.btn-primary {
     
    font-weight: bold;
    font-size: 20px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    background-color: rgba(245, 245, 245, 1);

}
.btn-primary-2 {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 34px;
    border:none;
    border-radius: 8px;
}

.secondary-bg{
    background-color: #3c916959;
 
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
  
}

.nav-title {
    margin-left: 165px;
    font-weight: bold;
    font-size: 32px;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    padding: 0 160px 0 160px;


}

nav li a {
    text-decoration: none;
    font-size: 20px;

}

/* banner style */
 .banner {
    display: flex;
    justify-content: space-between;
    margin: 20px 160px 80px 160px;
    border-radius: 24px;
 }
 .banner-content {
    max-width: 622px;
    padding: 103px 53px;
 }
 .banner-greetings {
    color: rgba(14, 14, 14, 0.51);
    font-size: 24px;
    font-weight: 600;

}
.banner-title{
    font-weight:bold ;
    font-size: 56px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.banner-profile-pic {
    width: 480px;
    padding: 68px 48px 68px 60px; 
}
/* section title */

.section-title{
    font-size: 40px;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
    margin-bottom: 32px;
}
 
/* skills section style */
.skills{
    margin: 20px 160px 80px 160px;
}
.skills-container {
    display: flex;
     justify-content: space-around;
     gap: 24px;
}

.skill {
    padding: 40px;
    border-radius: 16px;
}
.skill-color-1 {
    background-color: #81b4fc54;
    width: 400;
}
.skill-color-2 {
    background-color: rgba(198, 228, 214, 1);
}

.skill-color-3 {
    background-color: rgba(247, 235, 207, 1);
}

/* btn styles */
.btn-1 {
    margin-top: 24px;
    margin-bottom: 28px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: rgba(84, 143, 245, 0.856);
}

.btn-2 {
    margin-top: 24px;
    margin-bottom: 28px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: rgba(9, 161, 93, 0.822);
}

.btn-3 {
    margin-top: 24px;
    margin-bottom: 28px;
    padding: 11px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    background-color: rgba(255, 196, 57, 0.822);
}

/* prim minister style */
.back-img{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 1.5% 13%;

}
.prim-minister {
    margin: 20px 160px 80px 160px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.minister {
    padding: 48px 24px;
}
.minister-speech {
    font-size: 16px;
    font-weight: 400;
    
}

.dr-yunus {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
}
.minister-title {
    font-size: 16px;
}
/* opinion Matters style */
.opinion-matters-section {
        
}